// TODO: media query
@font-face {
  font-family: 'lxgw';
  font-weight: 400;
  src: url('https://ck-cdn.annatarhe.cn/mShzFHKsrmLXAupxbjcnwScRwel464H1/LXGWWenKai-Regular.ttf')  format('truetype');
}

.ck-clipping-card
  font-family lxgw, Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif
  --logo-size 38px
  --avatar-size 38px
  font-display swap
  // --card-color linear-gradient(-30deg,#c9efd8,#f9ddff)
  // --card-shadow-color #c9efd8
  // --card-color: linear-gradient(225deg, rgba(156, 204, 252, .5) 0,rgba(230, 206, 253, .5) 99.54%)
  --card-color rgba(255, 255, 255, .4)
  --card-shadow-color var(--card-color)
  // --card-shadow-color rgba(230, 206, 253, .5)
  padding 1rem
  background var(--card-color)
  // backdrop-filter blur(100px)
  max-width 480px
  margin 1rem auto
  border-radius 8px
  transition .35s box-shadow
  cursor pointer
  &.ck-dark
    --card-color rgba(0, 0, 0, .4)
    --card-shadow-color var(--card-color)
    color #fff
  &:hover
    box-shadow 0px 0px 10px var(--card-shadow-color);

  .ck-header
    display flex
    justify-content space-between
    align-items center
    .ck-profile
      display flex
      align-items center
      .ck-avatar
        width var(--avatar-size)
        height var(--avatar-size)
        border-radius 100%
      .ck-profile-id
        margin-left .5rem
    .ck-logo
      width var(--logo-size)
      height var(--logo-size)
  .ck-content
    line-height 1.5
    font-size 1.2rem
    text-indent 2.4rem
  .ck-author
    text-align right
    font-size .8rem
  .ck-info
    display block
    text-align right
    font-size .7rem
